/* Created by: Titus diceman 
 * Created on: Sep 2020
 * This CSS file defines the style for index.html ICS2O-assignment-1-html
*/

body {
  background-color: rgb(255 189 211);
  text-align: center;
}

h1 {
  background-color: rgb(255 164 194);
  color: rgb(83 68 169);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(244 127 107);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

table, 
th,
td {
  Border:1px solid black;
  background-color: rgb(255 164 194)
}
